/* Estilização base */
body {
    font-family: Arial, sans-serif;
    background-color: #222831;
    color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-top: 60px;
}

/* Container principal */
.container {
    text-align: center;
    background-color: #393E46;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
}

/* Temporizador */
#timer {
    font-size: 72px;
    margin: 20px 0;
}

/* Botões */
.buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.buttons button,
#start-pause-btn,
form button {
    background-color: #EEEEEE;
    color: #222831;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttons button:hover,
#start-pause-btn:hover,
form button:hover {
    background-color: #FFD369;
}

/* Botão de iniciar/pausar */
#start-pause-btn {
    font-size: 18px;
    padding: 10px 30px;
    margin-bottom: 20px;
}

/* Video embed */
iframe {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Seção de tarefas/notas */
#task-section {
    background-color: #222831;
    padding: 10px;
    border-radius: 8px;
}

#task-section h3 {
    margin: 0 0 10px;
}

#task-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#task-input {
    width: 70%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #EEEEEE;
    color: #222831;
}

#task-list {
    list-style: none;
    padding: 0;
}

#task-list li {
    background-color: #EEEEEE;
    color: #222831;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}

/* Botão de remover tarefa */
.delete-btn {
    background-color: #FF5C5C;
    color: #222831;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    background-color: #FF4747;
}

/* Estilos do Menu de Navegação */
header {
    background-color: #393E46;
    padding: 10px;
    color: #FFD369;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.312);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

nav h1 {
    margin: 0;
    font-size: 24px;
}

#login-section {
    display: flex;
    align-items: center;
}

#login-btn {
    background-color: #EEEEEE;
    color: #222831;
    padding: 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

#user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}
